* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	// this defines what 1rem is
	font-size: 62.5%; //1rem =10px; 10px/16px = 62.5%
	@include respond(tab-land) {
		font-size: 56.25%; //1rem =9px;
	}

	@include respond(tab-port) {
		font-size: 50%; //1rem =8px;
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12px
	}
}

body {
	padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}

}

::selection {
	color: $color-white;
	background-color: $color-primary;
}

